:root{
    --columbia-blue: #D6EBFF;
    --dark-purple: #230C33;
    --orange-peel: #FF9900;
    --orange-peel-20: rgba(255, 153, 0, 0.2);
    --dogwood-rose: #D90368;
    --deep-sky-blue: #00BFFF;
    --berkeley-blue: #003366;
    /* --gradient-orange-rose: linear-gradient(90deg, rgba(255, 153, 0, 0.8) 0%, rgba(217, 3, 104, 0.4) 6.25%, #FF9900 50%, rgba(217, 3, 104, 0.4) 97.6%, rgba(255, 153, 0, 0.8) 100%) 1; */
}

* {
    margin: 0;
    padding: 0;
}

header, aside{
    font-family: "Work Sans", sans-serif;
}

article {
    font-family: "Manrope", sans-serif;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}